argh==0.26.1
backports.ssl-match-hostname==3.4.0.2
certifi==2015.9.6.2
click==5.1
Django==1.7.2
django-allauth==0.23.0
django-filter==0.9.1
django-grappelli==2.6.3
django-rest-auth==0.3.4
django-suit==0.2.12
django-taggit-serializer==0.1.1
djangorestframework==3.0.2
ghp-import==0.4.1
Jinja2==2.8
livereload==2.4.0
Markdown==2.6.3
MarkupSafe==0.23
mkdocs==0.14.0
oauthlib==1.0.3
pathtools==0.1.2
python-openid==2.2.5
PyYAML==3.11
requests==2.7.0
requests-oauthlib==0.5.0
six==1.10.0
tornado==4.2.1
watchdog==0.8.3
wheel==0.24.0
