{% extends "layout.html" %}
{% block content %}
<div id="main_content">
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6 col-xs-12">
			<div class="form-group">
	        	<label for="category">Your Categories</label>
	        	<select name="category" id="category" class="form-control" data-bind="options: categories, value: id, optionsText: 'name', optionsValue:'id', event: {change: w.category_view.change_event}">	        		
	        	</select>	        	
	       	</div>
	       	<div class="form-group" align="left">					
				<button type="button" class="btn btn-success btn-xs" id="new">New</button>				    
				<button type="button" class="btn btn-danger btn-xs" id="del">Delete</button>				    
			</div>
			<form id="category_form">
				<div class="form-group">
	                <label>Name</label>
	                <input type="text" class="form-control" name="name" id="name" data-bind="textInput: name">
	            </div>	            
	            <div class="form-group" align="center">					
					<button type="button" class="btn btn-primary btn-lg" id="save">Save!</button>				    
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block inline_js %}
<script type="text/javascript">
	w.category_view.init()
</script>
{% endblock inline_js %}