{% extends "layout.html" %}
{% block content %}
<div class="main-content">
	<div id="main_page">
		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 col-md-12" align="center">
				<h3 id="no_wallets" style="display:none">It looks like you don't have any wallets yet.<br><a href="/wallet">Create one to get started</a></h3>	
				<a href="/money/new/out" class="btn btn-lg btn-danger btn-block main-btn" id="action_income">Money going out... <i class="fa fa-frown-o"></i></a>	
				<a href="/money/new/out" class="btn btn-lg btn-success btn-block main-btn" id="action_income">Money coming in... <i class="fa fa-smile-o"></i></a>	
			</div>
		</div>

		<div class="row">
			<br/>
			<div class="col-md-12 col-lg-6 col-lg-offset-3">
				<div class="panel panel-info">
					<div class="panel-heading">Wallets Balance</div>
					<div class="panel-body">					
					<ul class="list-unstyled" data-bind="foreach: wallets_rows">
						<li><strong><span data-bind="text: wallet.name"></span></strong>: $ <span data-bind="text: total"></span></li>
					</ul>	
				  </div>
				</div>
			</div>			
		</div>
		
		<div class="row" id="wallet_graphic">
			<h1>Wallet's history</h1>
			<hr>
		</div>

	</div>
</div>
{% endblock %}

{% block inline_js %}
<script type="text/javascript">	
w.dashboard_view.init();
</script>
{% endblock %}