{% extends "base.html" %}
{% block content %}
<div class="main-content">
	
	<div id="main_page">
		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 col-md-12" align="center">
				<a href="/money/in" class="btn btn-lg btn-success btn-block main-btn" id="action_income">Yeeeaah!</a>	
				<a href="/money/out" class="btn btn-lg btn-danger btn-block main-btn" id="action_expense">Shit!</a>				
			</div>
		</div>

		<div class="row">
			<br/>
			<div class="col-md-12 col-lg-6 col-lg-offset-3">
				<div class="panel panel-info">
					<div class="panel-heading">Wallets</div>
					<div class="panel-body">					
					<ul class="list-unstyled" data-bind="foreach: widget_total">
						<li><strong><span data-bind="text:wallet.name"></span></strong>: $ <span data-bind="text: total"></span></li>
					</ul>	
				  </div>
				</div>
			</div>			
		</div>

	</div>
</div>
{% endblock %}

{% block inline_js %}
<script type="text/javascript">	
wallet.init();

function WidgetTotal(wallet, total) 
{
	var self = this;
	self.wallet = wallet
	self.total = total
}

function WidgetTotalViewModel() {
    var self = this;       

	self.widget_total = ko.observableArray([]);
	$.getJSON("/api/v1/wallet-total", function(allData)
	{
        var mapped = $.map(allData.results, function(v) 
        {
        	var total = Number(v.wallet.initial_amount) + Number(v.total)
        	return new WidgetTotal(v.wallet, total.toFixed(2)) 
        });
        self.widget_total(mapped);        
    });
}

ko.applyBindings(new WidgetTotalViewModel());
</script>
{% endblock %}