{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>My Wallet</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/flatly/bootstrap.min.css" rel="stylesheet">


    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "css/datepicker3.css" %}" rel="stylesheet">
    <link href="{% static "css/simplePagination.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-tokenfield.min.css" %}" rel="stylesheet">
    <link href="{% static "css/tokenfield-typeahead.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
    body { padding-top: 70px; }
    .main-content { padding: 20px 15px 40px; }
    .main-btn {font-size: 2em}
    .clickme{cursor: pointer;}
    #transaction_form .token-input { left: -11px; top: -7px;}
    #transactions_history .date, #transactions_history .amount { white-space: nowrap }
    #transactions_history .note { width: 50%; }
    
    </style>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">My Wallet</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% if on_dashboard %} class="active" {% endif %}><a href="/dashboard">Dashboard</a></li>
            <li {% if on_transaction %} class="active" {% endif %}><a href="/money/new">Add Transaction</a></li>
            <li {% if on_history %} class="active" {% endif %}><a href="/history">History</a></li>
            <li {% if on_wallets %} class="active" {% endif %}><a href="/wallet">Your Wallets</a></li>
            <li {% if on_category %} class="active" {% endif %}><a href="/category">Categories</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="logout">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <!-- TODO
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>-->
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" id="main_container">
    {% block content %}
    {% endblock %}
    </div><!-- /.container -->

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="{% static "js/knockout-3.2.0.js" %}"></script>
    <script src="{% static "js/knockout.mapping.min.js" %}"></script>
    <script src="{% static "js/wallet.js" %}"></script>
    <script src="{% static "js/jquery.cookie.js" %}"></script>
    <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "js/jquery.numeric.min.js" %}"></script>
    <script src="{% static "js/jquery.simplePagination.js" %}"></script>
    <script src="{% static "js/accounting.min.js" %}"></script>
    <script src="{% static "js/bootstrap-tokenfield.min.js" %}"></script>
    <script src="{% static "js/typeahead.bundle.min.js" %}"></script>
    <script src="{% static "js/bower_components/Chart.js/Chart.min.js" %}"></script>

    
    <script type="text/javascript">
      $('#logout').click(function(){ w.dashboard_view.logout() });
    </script>
    {% block inline_js %}
    {% endblock %}
  </body>
</html>
