{% extends "base.html" %}
{% block content %}
<div id="main_content">
	<div class="row" id="form-container">
		<div class="col-lg-offset-3 col-lg-6 col-md-12">
			<h2 id="action_msg">&nbsp;</h2>			
			<form id="transaction_form">			

				<label for="" id="action_item_amount"></label>
					<div class="form-group input-group">					
			            <span class="input-group-addon" id="currency"></span>
			            <input type="text" class="form-control" name="item_amount" placeholder="0.00" id="amount" maxlength="13" data-bind="textInput: item.amount">
			        </div>		        


		        <div class="form-group">
		        	<label for="wallet">Wallet</label>
		        	<select name="wallet_id" id="wallet_id" class="form-control" data-bind="options: wallets, value: wallet.id, optionsText: 'name', optionsValue:'id', optionsCaption: 'Choose a Wallet...'">
		        	</select>
		       	</div>

		        <div class="form-group">
		        	<label for="category">Category</label>
		        	<select name="category" id="category" class="form-control" data-bind="options: categories, value: item.category.id, optionsText: 'name', optionsValue:'id', optionsCaption: 'Category?...'">
	        		</select>
		       	</div>


	            <label>Date</label>
		       	<div class="form-group input-group">
	                <input class="form-control disabled" name="date" id="date" data-date-format="yy/mm/dddd" placeholder="Empty for Today" data-bind="textInput: date">
	                <span class="input-group-addon" id="calendar"><i class="fa fa-calendar"></i></span>	                
	            </div>

	            <div class="form-group">
	                <label>Note</label>
	                <textarea class="form-control" name="note" rows="3" id="note" data-bind="textInput: item.note"></textarea>
	            </div>
				
				<input type="hidden" id="id" name="id" data-bind="textInput: id">

	            <div class="form-group" align="center">					
					<button type="button" class="btn btn-primary btn-lg" id="save">Save!</button>				    
				</div>
				
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block inline_js %}
<script type="text/javascript">	
w.transaction_view.init({{ pk }});
</script>
{% endblock %}