{% extends "base.html" %}
{% block content %}
<div id="main_content">
	<div class="row">
		<div class="col-lg-offset-3 col-lg-6 col-md-12">
			<div class="form-group">
	        	<label for="id">Your Wallets</label>
	        	<select name="id" id="wallet" class="form-control" data-bind="options: wallets, value: id, optionsText: 'name', optionsValue:'id', event: {change: w.wallet_view.change_event}">
	        	</select>
	       	</div>
	       	<div class="form-group" align="left">					
				<button type="button" class="btn btn-success btn-xs" id="new">New</button>
				<button type="button" class="btn btn-danger btn-xs" id="del">Delete</button>
			</div>
			<form id="wallets_form">
				<div class="form-group">
	                <label>Name</label>
	                <input type="text" class="form-control" name="name" id="name" data-bind="textInput: name">
	            </div>
	            <label for="">Initial Amount</label>
				<div class="form-group input-group">					
		            <span class="input-group-addon" id="currency"></span>
		            <input type="text" class="form-control" name="initial_amount" placeholder="0.00" id="initial_amount" data-bind="textInput: initial_amount">
		        </div>		        
		        <div class="form-group">
	                <label>Note</label>
	                <textarea class="form-control" name="note" rows="3" id="note" data-bind="textInput: note"></textarea>
	            </div>
	            <div class="form-group" align="center">					
					<button type="button" class="btn btn-primary btn-lg" id="save">Save!</button>				    
				</div>				
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block inline_js %}
<script type="text/javascript">
w.wallet_view.init()
</script>
{% endblock inline_js %}